/* You can add global styles to this file, and also import other style files */
@import 'variables';
html,body,p{
    color:$main-text-color;
}

.apartment{
    color: #a72da3;
}

.condo{
    color: #dd6688;
}

.house{
    color: #bfbfbf;
}